@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ananda_namaste";
    src: url("../public/AnandaNamasteRegular.ttf");
}

/* @font-face {
    font-family: "glory";
    src: url("../public/assets/glory.ttf");
} */